@media (max-width:768px) {
  .formulario__botao {
    width: 100px;
  }
  .formulario__input {
    padding: 1rem;
    width: 300px;
  }
}

@media (max-width: 740px) {
  .cabecalho {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
  }
  .cabecalho:nth-last-child(2) {
    justify-items: end;
  }
  .cabecalho__pesquisa {
    display: none;
    width: 0;
  }
  .cabecalho__lupa--pesquisa {
    display: block;
  }
}
