.cabecalho {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  justify-items: end;
  height: 7.18rem;
  margin: 0 10%;
}
.cabecalho__imagem {
  width: 150px;
}
.cabecalho__logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.cabecalho__pesquisa {
  background: url(../img/cabecalho/lupapng.png) no-repeat 95% 50%;
  background-color: #F5F5F5;
  border: none;
  height: 2.5rem;
  width: 20rem;
  left: 13rem;
  top: 5px;
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
}
.cabecalho__botao-login {
  border: 1px solid #2A7AE4;
  background: transparent;
  cursor: pointer;
  padding: .6rem 3rem;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 19px;
  color: #2A7AE4;
}
.cabecalho__lupa--pesquisa {
  display: none;
}

@media (max-width: 740px) {
  .cabecalho {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .cabecalho__pesquisa {
    display: none;
    width: 0;
  }
  .cabecalho__lupa--pesquisa {
    display: block;
  }
}
@media (max-width: 540px) {
  .cabecalho {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2%;
    gap: 1rem;
  }
}