.cards {
  background: #F5F5F5;
  padding: 4% 8%;
  
}

.cards__topo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
}
.cards__ver-tudo {
  display: flex;
  align-items: center;
  color: #2A7AE4;
  font-size: 1rem;
  font-weight: 700;
  gap: 10px;
}
.produtos__descricao {
  width: 100%;
}
.cards__produtos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  gap: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.titulo__produto {
  font-size: 1rem;
  font-weight: 500;
}
.preco {
  font-size: 1rem;
  font-weight: 700;
}
.link__produto {
  color: #2A7AE4;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 2500px) {
  .cards__produtos img {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .cards__produtos {
    grid-template-columns: repeat(4, 1fr);
  }
  .cards__produtos img {
    width: 100%;
  }
}
@media (max-width: 740px) {
  .cards__produtos {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards__produtos img {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .cards__produtos {
    grid-template-columns: 1fr 1fr;
  }
  .cards__produtos img {
    width: 100%;
  }
}